header.main-header
    .main-header__back-arrow-wrap
        a.main-header__back-arrow-link(href="#")
            svg.main-header__back-arrow-icon
                use(xlink:href="#chevron-back-single")
    h1.main-header__heading Import documents to your Flow
    .main-header__cross-wrap
        a.main-header__cross-link(href="#")
            svg.main-header__cross-icon
                use(xlink:href="#cross-lg")
