/* Fonts
======================= */

$font_open_sans: 'Open Sans', sans-serif;

/* Colors
======================= */

$color_text: #414141;
$color_text_alt: #6b6b6b;
$color_dark_blue: #45688f;
$color_dark_orange: #ff9000;
$color_snow: #f9f9f9;
$color_light_gray: #d4d4d4;
